---
- name: Disable pager
  cisco.asa.asa_command:
    commands:
      - terminal pager 0

- name: 'Check for firmwareupdate.log presence on disk0:'
  cisco.asa.asa_command:
    commands:
      - 'dir disk0:'
  register: dir_out

- name: Set flag for firmwareupdate.log existence
  ansible.builtin.set_fact:
    ed25_firmwareupdate_present: "{{ (dir_out.stdout[0] | default('')) is search('firmwareupdate\\.log') }}"

- name: Get firmwareupdate.log content when present
  when: ed25_firmwareupdate_present | bool
  cisco.asa.asa_command:
    commands:
      - more disk0:/firmwareupdate.log
  register: fwlog

- name: Save firmwareupdate.log content locally (if present)
  when: ed25_firmwareupdate_present | bool
  ansible.builtin.copy:
    dest: "{{ (playbook_dir | default('.') ) + '/artifacts/' + inventory_hostname + '/firmwareupdate.log' }}"
    content: "{{ fwlog.stdout[0] | default('') }}\n"
    mode: "0644"
  delegate_to: localhost

- name: Save directory listing
  ansible.builtin.copy:
    dest: "{{ (playbook_dir | default('.') ) + '/artifacts/' + inventory_hostname + '/disk0_dir.txt' }}"
    content: "{{ dir_out.stdout[0] | default('') }}\n"
    mode: "0644"
  delegate_to: localhost
